// Colours

$black: #000;
$blue: #046D8B;
$yellow: #ECBE13;
$teal: #2FB8AC;
<<<<<<< HEAD
$green: #93A42A;
$white: #FFF;
$paypal:#009cde;
$mastercard:#cc0000;
$amax:#002663;
$discover:#F58220;
$visa:#2C21A6;
=======
$white: #fff;
$paypal: #009cde;
$mastercard: #cc0000;
$amax: #002663;
$discover: #F58220;
$visa: #2C21A6;

$left: left;
$right: right;
>>>>>>> gh-pages

$left: left;
$right: right;

// Font Families

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

$oswald: 'Oswald', Helvetica, Arial, sans-serif;
$noto: 'Noto Sans', Arial, Helvetica, sans-serif;

$header: $oswald;
$body: $noto;