.img{
  width:100%
}

.top-space{
  margin-top: 1.5rem;
}

.head{
  font-family: $oswald;
  font-weight: normal;
}

.bucket{
  position: relative;
  z-index: 1;
}

.link{
  text-decoration: none;
}

.bucket-img{
  padding-top: 56.25%;
  background-size: cover;
}

.info-wrap{
  background-color: $blue;
}

.info{
  color:$white;
  text-transform: uppercase;
  text-align: center;
  font-family: $oswald;
  font-weight: normal;
}

.read{
  color:$white;
  text-transform: uppercase;
  text-align: center;
  font-family: $oswald;
  font-weight: light;
}

.read-wrap{
  background-color: $blue;
}

.other{
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  font-family: $oswald;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
}

.embed {
  position: relative;
}

.embed-item{
  position: absolute;
  left: 0;
  width:100%;
  height:100%;
  top:0;
}

.embed-16by9 {
  padding-top: 56.25%;
}

@media only screen and (min-width: 25em) {

  .info{
    padding: 5px 10px;
    text-align: left;
  }

  .read{
    padding: 5px 10px;
    text-align: left;
  }

  .info-wrap{
    position: absolute;
    bottom: 4rem;
    background-color: transparentize($blue, .13);
    text-align: left;
  }

  .read-wrap{
    position: absolute;
    bottom: 1rem;
    margin: 0 auto;
  }

  .read{
    background-color: transparentize($blue, .13);
  }
}

@media only screen and (min-width: 38em) {

  .info-wrap{
    bottom: .25rem;
  }

    .info-wrap-large{
    position: absolute;
    bottom: 10rem;
    background-color: transparentize($blue, .13);
    text-align: left;
  }

  .read-wrap-large{
    position: absolute;
    bottom: 1rem;
    margin: 0 auto;
  }

    .info-wrap{
    position: absolute;
    bottom: 3rem;
    background-color: transparentize($blue, .13);
    text-align: left;
  }

  .read-wrap{
    position: absolute;
    bottom: .5rem;
    margin: 0 auto;
    background-color: transparentize($blue, .13);
  }
}
