.pay-btn{
	border-radius: 2px;
	padding: 1em;
	text-decoration:none;
	color: $white;
	display: block;
	font-family:$oswald;

}
.credit{
	background-color:$yellow;
	display: block;
}

.paypal{
	background-color:$vomit;
}

